{:paths ["src"]
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.wandersoncferreira/appa {:local/root "../../../appa"}}
   :exec-fn appa.api/run-test
   :main-opts ["-m" "appa.runner"]}}}
